@media only screen and(max-width: 576px) {
  .header {
    padding-left: 48px;
  }
  .header-list {
    a {
      display: none;
    }
  }
  .jumbotron {
    img {
      width: 460px;
    }
  }
}

@media only screen and(min-width:1000px) {
  .header {
    .header-list {
      .dropdown {
        display: none;
      }
    }
  }
} ;
