@media only screen and(max-width: 576px) {
  .header {
    .header-list {
      padding: 0;
    }
    width: 390px;
    padding-left: 0px;
    padding-right: 0px;
    opacity: 1;
  }
  .header-list {
    a {
      display: none;
    }
  }
  .jumbotron {
    img {
      width: 340px;
    }
  }
}

@media only screen and(min-width:1000px) {
  .header {
    .header-list {
      .dropdown {
        display: none;
      }
    }
  }
} ;
