/*hp*/
@media only screen and(max-width: 670px) {
  .header {
    .header-list {
      padding: 0;
    }
    width: 390px;
    padding-left: 0px;
    padding-right: 0px;
    opacity: 1;
  }
  .header-list {
    a {
      display: none;
    }
  }
  .jumbotron {
    img {
      width: 300px;
    }
  }
}
/*normal*/
@media only screen and(min-width:1000px) {
  .header {
    .header-list {
      .dropdown {
        display: none;
      }
    }
  }
}
/*tablet dan laptop*/
@media only screen and(max-width:1000px) {
  .header {
    padding-left: 0px;
    .header-list {
      padding-left: 20px;
      gap: 65px;
    }
  }
  .jumbotron {
    img {
      width: 850px;
    }
  }
}
