$pri-color:#8c7851;
$sec-color:#eaddcf;

.logo{
    background-color: $sec-color;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    padding:20px 0px 20px 0px;
}


.judul-materi{
    h1{
        margin: 0px;
    }
    text-align: center;
    background-color: $sec-color;
    padding-bottom: 50px;
}

.img{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $sec-color;
}

.materi{
    letter-spacing: 1.1px;
    line-height: 1.5;
    padding-right: 0px;
    padding:50px 0px 100px 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    background-color: $sec-color;
}