.logo{
    background-color: burlywood;
    padding-left: 935px;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;
}


.judul-materi{
    h1{
        margin: 0px;
    }
    text-align: center;
    background-color: burlywood;
    padding-bottom: 50px;
}

.img{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.materi{
    letter-spacing: 1.1px;
    line-height: 1.5;
    padding-right: 0px;
    margin:50px 0px 100px 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: left;
}