.materi{
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    .sub-materi{
        img{
            margin-left: 0px;
        }
        h3{
            margin-left: 50px;
        }
        display: flex;
        flex-direction: row;
        margin: 50px 0px 50px 0px;
    }
}